<mat-form-field
  appearance="outline"
  class="input-container">
  <mat-label>{{ label }}</mat-label>
  <mat-icon
    matPrefix
    *ngIf="iconPrefix">{{ iconPrefix }}
  </mat-icon>
  <input
    matInput
    [matAutocomplete]="auto"
    [formControl]="control"
  />
  <mat-icon matSuffix>search</mat-icon>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let uf of filteredOptions$ | async" [value]="uf.nome">
      {{ uf.nome }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
