<app-card
  variant="secondary"
  class="form-busca">
  <form
    [formGroup]="formSearchService.getFormSearch()"
    (ngSubmit)="find()">
    <h2>Passagens</h2>
    <div class="flex-container">
      <mat-button-toggle-group
        aria-label="Type of Air Tickets"
        formControlName="oneWayTicket">
        <mat-button-toggle [value]="false">
          <mat-icon *ngIf="!formSearchService.getFormSearch().get('oneWayTicket')?.value">check</mat-icon>IDA E VOLTA
        </mat-button-toggle>
        <mat-button-toggle [value]="true">
          <mat-icon *ngIf="formSearchService.getFormSearch().get('oneWayTicket')?.value">check</mat-icon>SOMENTE IDA
        </mat-button-toggle>
      </mat-button-toggle-group>
      <mat-chip (click)="formSearchService.openDialog()">
        <div class="inner">
          <mat-icon>{{ formSearchService.getPassengers() ? 'check': 'airline_seat_recline_normal' }}</mat-icon>{{ formSearchService.getPassengerDescriptions() }}
        </div>
      </mat-chip>
      <mat-chip (click)="formSearchService.openDialog()">
        <div class="inner">
          <mat-icon>check</mat-icon>{{ formSearchService.getFormSearch().get('type')?.value }}
        </div>
      </mat-chip>
    </div>
    <div class="flex-container">
      <div class="drop-container">
        <app-dropdown-uf
          label="Origem"
          icon-prefix="flight_takeoff"
          [control]="formSearchService.getControl('origin')">
        </app-dropdown-uf>
      </div>
      <button
        (click)="switchOriginDestiny()"
        mat-icon-button>
        <mat-icon>sync_alt</mat-icon>
      </button>
      <div class="drop-container">
        <app-dropdown-uf
          label="Destino"
          icon-prefix="flight_land"
          [control]="formSearchService.getControl('destiny')">
        </app-dropdown-uf>
      </div>
      <mat-form-field
        appearance="outline"
        class="input-container">
        <mat-label>Data de Ida</mat-label>
        <input
          matInput
          [matDatepicker]="pickerDeparture"
          placeholder="Selecione"
          formControlName="departureDate"
        />
        <mat-datepicker-toggle matIconSuffix [for]="pickerDeparture"></mat-datepicker-toggle>
        <mat-datepicker #pickerDeparture></mat-datepicker>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        class="input-container">
        <mat-label>Data de Volta</mat-label>
        <input
          matInput
          [matDatepicker]="pickerArrival"
          placeholder="Selecione"
          formControlName="arrivalDate"
        />
        <mat-datepicker-toggle matIconSuffix [for]="pickerArrival"></mat-datepicker-toggle>
        <mat-datepicker #pickerArrival></mat-datepicker>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary">BUSCAR
      </button>
    </div>
  </form>
</app-card>
