<app-card
  variant="secondary"
  class="form-busca">
  <form [formGroup]="formSearchService.formSearch">
    <h2>Passagens</h2>
    <div class="flex-container">
      <mat-button-toggle-group
        aria-label="Type of Air Tickets"
        formControlName="oneWayTicket">
        <mat-button-toggle [value]="false">
          <mat-icon *ngIf="!formSearchService.formSearch.get('oneWayTicket')?.value">check</mat-icon>IDA E VOLTA
        </mat-button-toggle>
        <mat-button-toggle [value]="true">
          <mat-icon *ngIf="formSearchService.formSearch.get('oneWayTicket')?.value">check</mat-icon>SOMENTE IDA
        </mat-button-toggle>
      </mat-button-toggle-group>
      <mat-chip-listbox
        aria-label="Air Ticket Selections">
        <mat-chip-option
          selected
          (click)="openDialog()">1 adulto
        </mat-chip-option>
        <mat-chip-option
          (click)="openDialog()">Econômica
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
    <div class="flex-container">
      <app-dropdown-uf
        label="Origem"
        icon-prefix="flight_takeoff">
      </app-dropdown-uf>
      <button mat-icon-button>
        <mat-icon>sync_alt</mat-icon>
      </button>
      <app-dropdown-uf
        label="Destino"
        icon-prefix="flight_land">
      </app-dropdown-uf>
      <mat-form-field
        appearance="outline"
        class="input-container">
        <mat-label>Data de Ida</mat-label>
        <input
          matInput
          [matDatepicker]="pickerDeparture"
          placeholder="Selecione"
        />
        <mat-datepicker-toggle matIconSuffix [for]="pickerDeparture"></mat-datepicker-toggle>
        <mat-datepicker #pickerDeparture></mat-datepicker>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        class="input-container">
        <mat-label>Data de Volta</mat-label>
        <input
          matInput
          [matDatepicker]="pickerArrival"
          placeholder="Selecione"
        />
        <mat-datepicker-toggle matIconSuffix [for]="pickerArrival"></mat-datepicker-toggle>
        <mat-datepicker #pickerArrival></mat-datepicker>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary">BUSCAR
      </button>
    </div>
  </form>
</app-card>
