<div class="busca-page">
  <app-banner
    src="../../../assets/imagens/banner-busca.png"
    alt=""
  />
  <app-container>
    <app-form-search
      (do-search)="find($event)">
    </app-form-search>
    <section class="conteudo">
      <aside class="filtros-adicionais">
        <app-complementary-filters
          (do-search)="find($event)">
        </app-complementary-filters>
      </aside>
      <div class="passagens">
        <app-ticket *ngFor="let ticket of tickets" [ticket]="ticket"></app-ticket>
      </div>
    </section>
  </app-container>
</div>
