<section class="modal">
  <h1 mat-dialog-title>Viajante</h1>
  <div mat-dialog-content>
    <app-counter
      title="Adultos"
      obs="(Acima de 12 anos)">1
    </app-counter>
    <app-counter
      title="Crianças"
      obs="(Entre 2 e 11 anos)">0
    </app-counter>
    <app-counter
      title="Bebês"
      obs="(Até 2 anos)">1
    </app-counter>
    <div>
      <mat-chip-listbox
        aria-label="Air Ticket Selections">
        <mat-chip-option selected>1 adulto
        </mat-chip-option>
        <mat-chip-option disabled>Econômica
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
  </div>
  <div mat-dialog-actions>
    <button
      mat-raised-button
      mat-dialog-close
      color="secondary">Cancelar
    </button>
    <button
      mat-raised-button
      mat-dialog-close
      color="primary">Aplicar
    </button>
  </div>
</section>
