<section class="modal">
  <h1 mat-dialog-title>Viajante</h1>
  <div mat-dialog-content>
    <app-counter
      title="Adultos"
      obs="(Acima de 12 anos)">1
    </app-counter>
    <app-counter
      title="Crianças"
      obs="(Entre 2 e 11 anos)">0
    </app-counter>
    <app-counter
      title="Bebês"
      obs="(Até 2 anos)">1
    </app-counter>
    <div class="selecao-categoria">
      <p><strong>Categoria</strong></p>
      <mat-chip-listbox aria-label="Seleção de passagens">
        <mat-chip-option
          value="Econômica"
          [selected]="formSearchService.getFormSearch().get('type')?.value === 'Econômica'"
          (selectionChange)="formSearchService.alterType($event, 'Econômica')">Econômica
        </mat-chip-option>
        <mat-chip-option
          value="Executiva"
          [selected]="formSearchService.getFormSearch().get('type')?.value === 'Executiva'"
          (selectionChange)="formSearchService.alterType($event, 'Executiva')">Executiva
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
  </div>
  <div mat-dialog-actions class="modal-actions">
    <button color="primary" mat-flat-button mat-dialog-close>BUSCAR</button>
  </div>
</section>
