<app-banner
  src="../../../assets/imagens/banner-homepage.png"
  alt="Journey App Banner">
</app-banner>
<app-container>
  <h2>Promoções</h2>
  <app-form-search></app-form-search>
  <div class="card-wrapper">
    <app-card-search
      *ngFor="let sale of salesList$ | async"
      [sale-info]="sale">
    </app-card-search>
  </div>
  <h2>Depoimentos</h2>
  <div class="card-wrapper">
    <app-card-testimony
      *ngFor="let testimony of testimonyList$ | async"
      [testimony]="testimony">
    </app-card-testimony>
  </div>
</app-container>
