<section class="precos">
  <app-label texto="Preço" />
  <div class="labels">
    <div class="label-container">
      <label for="preco-minimo" class="name-label">De</label>
      <p>{{ ticketsService.minPrice| currency:'BRL' }}</p>
    </div>
    <div class="label-container">
      <label for="preco-maximo">Até</label>
      <p>{{ ticketsService.maxPrice| currency:'BRL' }}</p>
    </div>
  </div>
  <mat-slider
    [min]="ticketsService.minPrice"
    [max]="ticketsService.maxPrice">
    <input
      id="preco-minimo"
      matSliderStartThumb
      [formControl]="maxPrice">
    <input
      id="preco-maximo"
      matSliderEndThumb
      [formControl]="minPrice">
  </mat-slider>
</section>
